.user_details1{
    /* background-color: #E8EAF6; */
  }
  
  .input-box{
    background-color: white;
    /* border:1px solid #1A237E; */
    color: #1A237E;
    border-radius: 10px;
    outline: none;
    border-radius: "10px",
  }
  .no-outline:focus,
  .no-outline:active {
      outline: none !important;
  }
  
  .user_details_gender.input-box:focus {
    outline: none; /* Disable outline on focus */
    /* border: 2px solid #1A237E; Ensure border remains */
  }
  
  .input-box:hover{
    /* border:1px solid #1A237E; */
    border-radius: 10px;
  }
  
  /* Define styles for MenuItems */
  .menu-item {
    /* background-color: #E8EAF6; Background color for MenuItem */
    border:1px solid #1A237E;
    border-radius: 7px;
  }
  
  .menu-item11:hover {
    border-color: #1A237E !important; /* Change the border color on hover */
    background-color: #E8EAF6 !important;
  }
  
  .pg_button1 {
    margin-left: 5px !important;
    margin-right: 20px;
    padding: 5px;
    margin-right: 10px !important;
    padding-right: 10px !important;
    border:2px solid #a2beda !important;
    border-radius: 10px;
  }
  
  .pg_button1:hover {
    border: 2px solid #1A237E !important;
    background-color: #E8EAF6; 
    border-radius: 10px;
  }
  .pg_button2 {
    padding: 5px;
    border:2px solid #a2beda !important;
    border-radius: 10px;
    margin-left: 10px !important;
    padding-right: 10px !important;
  }
  .pg_button2:hover {
    background-color: #E8EAF6; /* Hover background color for Diploma button */
    border:2px solid #1A237E !important;
    border-radius: 10px;
  }
  
  .experience-label {
    display: inline-block;
    padding: 10px;
    border:2px solid #a2beda !important;
    border-radius: 10px;
  }
  
  .fresher-label {
    display: inline-block;
    border:2px solid #a2beda !important;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 10px;
    width: 120px;
  }
  
  .experience-label:hover {
    background-color: #E8EAF6;
    border: 2px solid #1A237E !important;
    border-radius: 10px;
  }
  
  .fresher-label:hover {
    background-color: #E8EAF6;
    border: 2px solid #1A237E !important;
    border-radius: 10px;
  }
  
  .resumeButton:hover {
    border: 2px solid #1A237E !important;
  }