/* .parent-container {
    height: 100vh;

  } */
  
  .profilebackground-div {
    /* background-image: url(../HomePage/homeimages/profile1.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center; */
    /* background-image: linear-gradient( 174.2deg,  rgba(255,244,228,1) 7.1%, rgba(240,246,238,1) 67.4% ); */
    background-color: #E8EAF6;

  }
  .textfield{
    background-color: white;
    opacity: 95%;
    /* border-radius: 50px; */
   
  }
  .textfield label{
    color: black;
  }
  

  .userAccount-background{
    background-color: #E8EAF6;
    /* width: 100%; */
    margin-bottom: -50px;
    border-radius: 20px !important;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.75);
    margin-left: -170px;
    margin-top: 10px;
  }
  .userAccount-background:hover{
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.75);
  transform: scale(1.01);
  }
  .NotRegister{
    height: 450px;
    width: 600px;
    padding: 20px 30px 10px 30px;
    
  }


  .userform-error-message{
    color: rgb(197, 6, 6);  
    font-size: 13px;
    margin-left: 10px;
  }