.dashboard-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  margin-left: 9rem;
}

.applied-job {
  width: 250px;
  border-radius: 10px;
  
  transition: transform 0.3s ease;
  
  
}
.cardcontent{
  background-color: #E8EAF6;

  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.applied-job:hover {

  transform: scale(1.05);
  cursor: pointer;
}
.pagination-button {
  margin: 0 5px;
  /* margin-left: 200px; */
}

@media (max-width: 768px) {
  .dashboard-container {
    margin-left: 0;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
}
