.containerTop{
  /* margin-top: -80px; */
}

.job-filter {
  display: flex;
  flex-direction: column;
  /* background-color: #E8EAF6; */
  margin: 15px;
  margin-left: 30px;
}

.job-filter h3{
  color:#5C6BC0 ;
}

h2 {
  color: white;
}

.job-filter h1{
  margin-left: 1rem;

}

.job-filter h3{
  background-color: #a2beda;
  color: #1A237E;
  padding: 10px;
  border-radius: 7px;
}

.title {
  margin-bottom: 1rem;
  font-size: 24px;
  color: #333;
  background-color: #E8EAF6;
  padding: 10px;
  margin: 7px;
  border-radius: 10px;
}

/* .job-experience {
  margin-bottom: 1rem;
} */

.job-location {
  margin-bottom: 1rem;
  margin-left: 1rem;
  margin-right: 1rem;
  background-color: #E8EAF6;
  padding: 10px;
  margin: 10px 0;
  border-radius: 10px;
  height: auto;
}

.job-employment {
  margin-bottom: 1rem;
  margin-left: 1rem;
  background-color: #E8EAF6;
  padding: 10px;
  margin: 7px 0;
  border-radius: 10px;
}

.job-roles {
  margin-bottom: 1rem;
  margin-left: 1rem;
  background-color: #E8EAF6;
  padding: 10px;
  margin: 7px 0;
  border-radius: 10px;
}

.job-salary {
  margin-bottom: 1rem;
  margin-left: 1rem;
  background-color: #E8EAF6;
  padding: 10px;
  margin: 7px 0;
  border-radius: 10px;
}

.show-more-button {
  margin-top: 1rem;
}

.job-filter ul{
  display: flex;
  flex-direction: column;
  

}


.job-card {
  border: 1px solid black;
  padding: 1rem;
  margin-bottom: 1rem;
  border-radius: 5px;
}

.job-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.5rem;
}

.job-title {
  font-size: 20px;
  color: #333;
}

.company-name {
  font-size: 16px;
  color: #666;
}

.detail {
  margin-bottom: 0.5rem;
}

.detail-label {
  font-weight: bold;
  color: #333;
}

.detail-value {
  color: #666;
}

.filter-btn{
  margin-bottom: 1rem;
  margin-left: 1rem;
}




.scroll::-webkit-scrollbar {
  width: 5px; 
  max-height: 10px;
}

.scroll::-webkit-scrollbar-thumb {
background-color:#a2beda; 
 /* border-radius: 10%; */
}

.scroll::-webkit-scrollbar-track {
background-color: transparent; 

}


.scroll{
  margin-top: -20px;
  border: #a2beda  3px solid;
  border-radius: 10px;
}
