/* .user-job-list{
    position: absolute;
    margin-top: 1%;
    height: 100%;
    width: 100%;
    background-color: antiquewhite;
    margin-right: 20%;
    
} */

.job-view{
   
    margin-top: 3%;
    height: 150px;
    background-color: #e8eaf6; 
    border-radius: 15px;
    box-shadow: 10px 4px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in;

}

.job-view:hover{
    transform: scale(1.05);
    cursor: pointer;

}

.list-all{
    margin-left: 5%;
    padding: 10px;
}
.list-all h3{
    color: #394dbb;
    font-weight: bold;
}
.list-all h4{
    color: #5c6bc1;
}

/*  */

.list-img img{
    margin-top: 8px;
    height: 100px;
    width: 100px;
    border-radius: 50%;
}
